GPT_5_AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_KEY=
GPT_5_AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_API_VERSION=


CLAUDE_API_KEY=
CLAUDE_MODEL_DEPLOYMENT_NAME=
CLAUDE_ENDPOINT=


GPT_TERRA_AZURE_OPENAI_ENDPOINT=
GPT_TERRA_AZURE_OPENAI_DEPLOYMENT_NAME=
GPT_TERRA_AZURE_OPENAI_KEY=
GPT_TERRA_AZURE_API_VERSION=

GPT_SOL_AZURE_OPENAI_DEPLOYMENT_NAME=
