# OCR & AI
easyocr
transformers
openai # >>> Add Azure OpenAI library <<<
python-dotenv # >>> Add dotenv <<<
imagehash

# Data processing
pandas

# Streamlit e altri
streamlit
opencv-python
Pillow
tqdm
numpy

scenedetect[opencv]
thefuzz
python-Levenshtein # Recommended for thefuzz performance
tokenizers==0.21.1

streamlit-aggrid
